body {
    font-family: 'SuisseIntl', sans-serif;
}

@font-face {
  font-family: 'SuisseIntl Light';
  src: url('https://filoldenburg.github.io/suissenew/fonts/SuisseIntl-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl Regular';
    src: url('https://filoldenburg.github.io/suissenew/fonts/SuisseIntl-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl Semibold';
    src: url('https://filoldenburg.github.io/suissenew/fonts/SuisseIntl-SemiBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
